body {
    background: url(../images/congruent_pentagon/congruent_pentagon.png);
    font-family: 'Chango', cursive;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    padding: 0 100px
}

#container {
    margin: 0 auto;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 24px
}
